@media not screen and (min-width: 320px) and (max-width: 480px) {
    .mobile-phone {
        display: none;
    }
}

@media not screen and (min-width: 481px) and (max-width: 768px) {
    .tablet-ipad {
        display: none;
    }
}

@media not screen and (min-width: 769px) and (max-width: 1024px) {
    .small_screen-laptop {
        display: none;
    }
}

@media not screen and (min-width: 1025px) and (max-width: 1200px) {
    .large_screen-desktop {
        display: none;
    }
}

@media not screen and (min-width: 1201px) {
    .extra_large_screen-desktop {
        display: none;
    }
}